*.pyc
*.egg-info
*.egg/
.tox/
*.vagrant
vagrant/development/*.log
.eggs/
build/
dist/
.ropeproject/
ChangeLog
MANIFEST
ckman/gui/qt_resources.py
ckman-gui-script.py
ckman-gui.pkg
ckman-script.py
ckman.pkg
lib/

# Libraries unpacked by Windows VM
/libjson-c*.dll
/libusb-*.dll
/libykpers-*.dll
/libyubikey-*.dll
